*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.akash {
    width: 100%;
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.akash > .batash {
    width: 100px;
    height: 100px;
    background: #fc2;
}

.akash > .batash:first-child{
    margin-bottom: 20px;
}

.akash > .batash:nth-child(2){
    margin-bottom: 20px;
}

.akash > .batash:last-child{
    background: #cc0;
}

.kaki{
    display: flex;
}

.kaka {
    width: 200px;
    height: 200px;
    background: #cc0;
}

.kaku {
    width: 200px;
    height: 200px;
    background: #fc2;
}